#nprogress .bar {
  height: 3px !important;
  background-color: #18bc9c;
}

#nprogress .spinner {
  display: none;
}

body {
  background: #f7f7f7;
  font-family: 'Frank Ruhl Libre', Georgia, serif;
}

#upscaling {
  letter-spacing: 0.3px;
}

#homescreen {
  margin-top: 30px;
  font-family: 'Frank Ruhl Libre', Georgia, serif;
}

.text-orange {
  color: #f0754f;
  margin-bottom: 20px;
}

#footer-copyright {
  margin-top: 30px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: #333;
  font-weight: 400;
  text-align: center;
}

#footer-disclaimer {
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #6f737a;
  font-style: italic;
  margin: auto;
  max-width: 864px;
  text-align: center;
  margin-bottom: 20px;
}

.bg-primary .navbar-nav .nav-link.active,
.bg-primary .navbar-nav .nav-link:focus,
.bg-primary .navbar-nav .nav-link:hover,
.bg-primary .navbar-nav .show > .nav-link {
  color: white !important;
}

.bg-primary .navbar-nav .nav-link:hover,
.bg-primary .navbar-nav .show > .nav-link {
  color: #18bc9c !important;
}

.header__title:hover {
  color: #18bc9c !important;
}

.navbar-collapse {
  flex-grow: 1;
  -webkit-box-align: center;
  align-items: center;
}

#generated__recipe img {
  display: -webkit-box;
  height: 216px;
  padding: 0;
  overflow: hidden;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  transition: 0.2s all ease-in-out;
}

#generated__recipe img:hover {
  transform: scale(1.04);
}

.card-title {
  font-size: 30px;
}

.img-hover-zoom {
  overflow: hidden; /* Removing this will break the effects */
}

.generator_card__body {
  color: #666a70;
}

.generator_card__div {
}

.generator_card__uList {
  padding: 0;
  margin: 0;
}

.generator_card__list {
  display: inline-block;
  padding: 0 10px;
}

.ingredient-name {
  font-size: 18px;
  font-weight: 550;
  color: #333;
  padding-left: 30px;
}

.ingredient-ul {
  list-style: none;
}

.ingredient-list {
  display: flex;
  background: #ebeff4;
  line-height: 24px;
  margin-bottom: 8px;
  padding: 10px;
  padding-left: 10px;
  align-items: center;
}

.ingredient-size-unit {
  font-size: 14px;
  font-weight: 400;
  color: #6f737a;
  line-height: 24px;
  align-items: center;
}

.ingredient-image {
  object-fit: contain;
  height: 100%;
  padding-left: 15px;
}

.list-group {
  --bs-list-group-bg: none;
}

.nav-pills .nav-link {
  border-radius: 0;
  color: #000000;
  background-color: #dddddd;
}

.navpills .nav-item:not(:nth-last-child(1)) .nav-link {
  border-right: 1px solid white;
}

.font-profile {
  font-family: 'Nunito Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
}

.btn-heart {
  background: transparent;
  border: none;
  outline: none;
  color: grey;
  font-size: 30px;
}

.btn-heart i:hover {
  cursor: pointer;
}

.recipe-header__name {
  font-family: 'proxima-nova', Helvetica, Arial, sans-serif;
  font-size: 42px;
  font-weight: 900;
  line-height: 48px;
  margin-bottom: 25px;
  margin-top: 10px;
}

.recipe__description {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 400;
}

ol > li:before {
  content: 'Step ' counter(elementcounter) '. ';
  counter-increment: elementcounter;
  font-weight: bold;
}

ol {
  list-style-type: none;
  counter-reset: elementcounter;
  padding-left: 0;
}

.recipe__steps__list {
  font-size: 18px;
  font-weight: 400;
}

#featured-meals .card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-decoration: none;
  margin-top: -20px;
}

#featured-meals {
  height: 100%;
  background: linear-gradient(#f0f9f9, #f0f9f9, #f7f7f7);
}

#featured-meals header {
  display: flex;
  justify-content: center;
  padding: 1rem 0 0.375rem;
  font-size: 2.25rem;
}

#featured-meals a {
  margin: 20px 60px;
}

#featured-meals .meal-title {
  color: #b5460f;
  display: flex;
  align-items: center;
  position: relative;
  top: 0;
  font-size: 13px;
}

#featured-meals .card:hover {
  transform: translate(-2px, -2px);
  /* box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important; */
  box-shadow: 5px 5px 0 #fec445;
}

#featured-meals .row {
  margin-right: 10px;
  margin-top: -35px;
}

.related-meal {
  display: -webkit-box;
  height: 310px;
  padding: 0;
  overflow: hidden;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}

.pill {
  font-size: 13px;
  font-family: 'Raedex Pro', sans-serif;
  padding: 0.5em 1.5em;
  margin: 0.25em;
  border-radius: 1em;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  font-weight: 700;
}

.pill:hover {
  color: #18bc9c !important;
}
